body {
    background-color: #ba9a88;
    width: 100vw;
    height: 100 vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#title {text-align: center;
margin-bottom: 20px;}

h1 {Color: #8a644c;
margin-bottom: 0;}

span {color: #e3d7c9;   
    margin-top: 0;}

input {border-color: #e3d7c9;
background-color: rgba(255, 222, 203, 0.489);
color: #5b828e;
}

button{
    background-color: #bbcfd7;
    color: #5b828e;
    border-color: #5b828e;
}

#output {display:none;
    color: #5b828e;
    background-color:  rgba(255, 222, 203, 0.489);
    border: 3px solid  #e3d7c9d7  ;
    font-size: 1.5rem;
    width: 95%;
    max-width: 350px;
    min-height: 35px;
    margin-top: 25px;
    padding: 15px;
    overflow-wrap: break-word;
    text-align: center;
}