body{
    background-color: rgb(7, 0, 53);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

main {
    align-items: center;
    text-align: center;
}

#def {padding: 5px auto;
    width: 55%;
    align-items: center;
}

input{background-color: rgb(255,255,255,0.7);
    color:black;
    border-radius: 3px;}

button{border:none;
    box-shadow: 1px 1px 3px white, -1px -1px 3px white;
    background:none;
    color:rgb(255,255,255,0.4);
    margin-left: 10px;}